.admin_content {
  width: 100%;
  display: flex;

}

.container {
  background-color: #FCFBFF;
  width: 80%;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100vh;
  padding: 0 40px;
  padding-top: 15px
}