@mixin flex($justify, $align, $direction: row, $gap: 0px) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
   

}
@mixin grid($repeat){
    display: grid;
    grid-template-columns: $repeat;

}